.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.input-field label {
    color: inherit;
}

#logo-container img{
    height: 64px;
}

.collapsible-header{
	color: #444;
	font-weight: bold;
}