h3{
    text-align: center;
}

#date_pub{
    text-align: right;
}

p#desc{
    font-weight: bold;
}

div.social_network {
    display: block;
    width: 100%;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

.fb-share-button{
    vertical-align: super;
}

#comments{
    margin-top: 5%;
}