.card{
    height: 465px;
}

.card .card-content{
    max-height: 160px;
    overflow-y: auto;
}

.card .card-action{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .card{
        height: auto;
    }
    .card .card-content{
        max-height: none;
        height: auto;
    }
    .card .card-action{
        height: auto;
        position: initial;
    }
}