.question #status{
	margin: 10px;
}

.question #datetime{
	font-style: italic;
	text-align:right
}

.question #name{
	font-style: italic;
}

.question #question{
	font-weight: bold;
}

.question .divider{
	background-color:#5a5a5a;
}