.input-field label {
    color: inherit;
}

#logo-container img{
    height: 64px;
}

.collapsible-header{
	color: #444;
	font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}